.element__textarea {
  margin-bottom: 16px;
}

.element__textarea textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 16px;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 16px;
}
