.idea-page__title {
  font-size: 18px;
}

/* без important не переопределяются стили только здесь */
.idea-page__button {
  justify-content: flex-start !important;
}

.idea-page__button button {
  width: 150px !important;
  height: 30px !important;
  padding: 5px !important;
}

.job__button {
  margin: 10px 10px 0 0;
}

.done__button {
  margin: 10px 10px 0 0;
}

.all__button {
  width: 75px;
  text-align: center;
  margin: 10px 0 0 0;
}
