.idea-page__title {
  font-size: 18px;
}

/* без important не переопределяются стили только здесь */
.idea-page__button {
  justify-content: flex-start !important;
}

.idea-page__button button {
  width: 150px !important;
  height: 30px !important;
  padding: 5px !important;
}

.idea-page__container {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  cursor: default;
}
