.container {
  max-width: 850px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  cursor: default;
}

@media (max-width: 650px) {
  .container {
    padding-top: 0px;
  }
}
