@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  /* margin: 0px; */
}

a,
Link {
  text-decoration: none; /*убрать подчеркивание*/
  color: inherit; /*наследует цвет*/
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent; /* убрать синее выделение вокруг кнопок*/
}
ul {
  list-style: none; /*убрать точки у списка*/
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  cursor: default;
}
