.idea-list__info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.idea-list__info button {
  margin-right: 10px;
}

.idea-list__info button:hover {
  cursor: pointer;
}

.idea-list__title {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px 0;
  padding: 15px;
  width: 100%;
}

.idea-list__title--completed {
  background-color: #78ae993c;
}
