.accordion__list {
  margin-bottom: 5px;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border-radius: 7px;
}

.accordion__item {
  border-radius: 7px;
  padding: 20px 30px 20px 30px;
  background-color: #2a4359;
  color: #f1f0fc;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.content {
  letter-spacing: 1px;
  padding: 0 10px;
  line-height: 22px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0, 1);
}
.content--show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(1, 0, 1, 0);
}

.accordion__item-btn {
  font-size: 24px;
  margin-left: 5px;
}
.accordion__item-btn:hover {
  font-size: 24px;
  margin-left: 5px;
  color: #edd37e;
}

.accordion__item-title {
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 650px) {
  .accordion__list {
    margin-bottom: 5px;
    padding: 10px;
  }
  .accordion__item {
    padding: 20px;
  }
  .accordion__item-title {
    font-size: 16px;
  }
}
