.info-page-header__title {
  text-align: center;
  text-transform: uppercase;
  color: #2a4359;
  margin-bottom: 10px;
}

@media (max-width: 650px) {
  .info-page-header__title {
    font-size: 16px;
  }
}

.info-page-header__description {
  text-align: center;
  color: #2a4359;
  margin-bottom: 16px;
}

.info-page-header__link {
  font-weight: bold;
  text-decoration: underline;
}

.info-page-header__link:hover {
  color: #b39637;
}
